In [66]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Read and clean data

In [81]:
#data = pd.read_csv('titanic.csv', index_col='PassengerId',usecols=['PassengerId', 'Pclass','Fare', 'Age', 'Sex'])
#data_targ = pd.read_csv('titanic.csv', index_col='PassengerId', usecols=['PassengerId','Survived'])
data = pd.read_csv('titanic.csv', index_col='PassengerId', usecols=['PassengerId', 'Pclass','Fare', 'Age', 'Sex', 'Survived'])
data = data.dropna(axis=0, how='any')
data_tart = data['Survived']
data = data.drop('Survived', 1)
spam = {'male':0, 'female':1}
data['Sex'] = data['Sex'].map(spam)

# Train decision tree, and fit data

In [94]:
clf = DecisionTreeClassifier(random_state=241)
clf = clf.fit(data, data_tart)
clf.feature_importances_

array([ 0.14751816,  0.30051221,  0.25124241,  0.30072722])

# Dataframe to matrix and

In [103]:
matrix = data.as_matrix()
print matrix[1]
data

[  1.       1.      38.      71.2833]

             Pclass  Sex   Age      Fare
PassengerId
1                 3    0  22.0    7.2500
2                 1    1  38.0   71.2833
3                 3    1  26.0    7.9250
4                 1    1  35.0   53.1000
5                 3    0  35.0    8.0500
7                 1    0  54.0   51.8625
8                 3    0   2.0   21.0750
9                 3    1  27.0   11.1333
10                2    1  14.0   30.0708
11                3    1   4.0   16.7000
12                1    1  58.0   26.5500
13                3    0  20.0    8.0500
14                3    0  39.0   31.2750
15                3    1  14.0    7.8542
16                2    1  55.0   16.0000
17                3    0   2.0   29.1250
19                3    1  31.0   18.0000
21                2    0  35.0   26.0000
22                2    0  34.0   13.0000
23                3    1  15.0    8.0292
24                1    0  28.0   35.5000
25                3    1   8.0   21.0750
26                3    1  38.0   31.3875
28                1    0  19.0  263.0000
31                1    0  40.0   27.7208
34                2    0  66.0   10.5000
35                1    0  28.0   82.1708
36                1    0  42.0   52.0000
38                3    0  21.0    8.0500
39                3    1  18.0   18.0000
...             ...  ...   ...       ...
857               1    1  45.0  164.8667
858               1    0  51.0   26.5500
859               3    1  24.0   19.2583
861               3    0  41.0   14.1083
862               2    0  21.0   11.5000
863               1    1  48.0   25.9292
865               2    0  24.0   13.0000
866               2    1  42.0   13.0000
867               2    1  27.0   13.8583
868               1    0  31.0   50.4958
870               3    0   4.0   11.1333
871               3    0  26.0    7.8958
872               1    1  47.0   52.5542
873               1    0  33.0    5.0000
874               3    0  47.0    9.0000
875               2    1  28.0   24.0000
876               3    1  15.0    7.2250
877               3    0  20.0    9.8458
878               3    0  19.0    7.8958
880               1    1  56.0   83.1583
881               2    1  25.0   26.0000
882               3    0  33.0    7.8958
883               3    1  22.0   10.5167
884               2    0  28.0   10.5000
885               3    0  25.0    7.0500
886               3    1  39.0   29.1250
887               2    0  27.0   13.0000
888               1    1  19.0   30.0000
890               1    0  26.0   30.0000
891               3    0  32.0    7.7500

[714 rows x 4 columns]